*.iml
.gradle
.kotlin/
__pycache__/
/local.properties
/.idea/gradle.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/compiler.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
/external
/app/src/test/resources/*.xml
.externalNativeBuild
sentry.properties
_site
.sass-cache
spotify-app-remote/build

/screen-mirror/build/
/screen-mirror-lib/build/
/screen-mirror/src/main/assets/carapplications/

/installer/build/
